body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #14131a;
    padding-top: 40px;
    margin: 0;
    background-image: url('./../assets/img/background.png');
}

.container {
    width: 90%;
    margin: 0 auto;
}


/* img {
    min-width: 100%;
} */

.bg-blood {
    /* background-image: url('./../assets/img/blood.png ');
    background-repeat: no-repeat; */
    /* background-position: top right;
    background-size: 70%; */
    position: absolute;
    top: 15%;
    right: 0;
    max-width: 800px;
    width: 60%;
    transition: 0.5s;
    z-index: 1;
    opacity: 0.8;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 6%;
}

.logo-link {
    width: 46px;
    height: 71px;
    display: inline-block;
    margin-right: 50px;
    transition: 0.2s;
}

.logo-link:hover {
    opacity: 0.9;
    transform: scale(1.15);
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.nav-menu-item {
    margin-right: 30px;
    transition: 0.2s;
}

.nav-menu-item:hover {
    opacity: 0.8;
    transform: scale(0.9);
}

.nav-menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.movie-date {
    margin-bottom: 2%;
    color: rgba(255, 255, 255, 0.8);
    line-height: 28px;
    font-size: 24px;
}

.movie-title {
    margin-bottom: 3%;
    width: 70%;
    transition: 0.5s;
}

.movie-description {
    margin: 0 0 6% 0;
    color: rgba(255, 255, 255, 0.8);
    line-height: 22px;
    font-size: 16px;
    max-width: 422px;
}

.button-group-icon,
.trailer-play-icon {
    width: 15px;
    height: 15px;
}

.button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    opacity: 0.8;
    transform: scale(0.95);
}

.button-primary {
    color: #8d0019;
    background-color: #fff;
}

.button-group-icon,
.button-group-content {
    display: inline-block;
    vertical-align: middle;
}

.button-group-content {
    font-size: 14px;
}

.button-group-icon {
    margin-right: 10px;
}

.button-link {
    color: #fff;
}

.venom-head {
    position: absolute;
    top: 15%;
    right: 0;
    max-width: 728px;
    width: 50%;
    transition: 0.5s;
    z-index: 8;
}


/* ____about_____ */

.about {
    display: flex;
}

.about-col {
    flex-basis: 45%;
}

.column-2 {
    -webkit-column-count: 2;
    -moz-column-count: 1;
    column-count: 2;
    -webkit-column-gap: 2;
    -moz-column-gap: 1;
    column-gap: 50px;
    max-width: 320px;
}

.creators {
    min-width: 120px;
}

.creators-container {
    display: flex;
}

.about-cast {
    display: flex;
    margin-bottom: 4%;
}

.about-description {
    margin: 0 0 3% 0;
    color: rgba(255, 255, 255, 0.8);
    line-height: 22px;
    font-size: 16px;
    max-width: 350px;
}

.about-poster {
    max-width: 100%;
    width: 350px;
    height: 543px;
    border-radius: 5px;
    margin-right: 30px;
}

.cast-col,
.creators-col {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cast-item,
.creators-item {
    line-height: 1.5;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 2% 0;
}

.about-subtitle {
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 2% 0;
}

.creators-subtitle {
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 5px 0;
}

.creators-block {
    margin: 0 0 20px 0;
}

.about-trailer {
    max-width: 100%;
    width: 350px;
    height: 205px;
    background: url('./../assets/img/trailer-screen.jpg') no-repeat center / 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trailer-play-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.trailer-play-icon {
    transform: translate(6%, 10%);
}

.nav-button {
    display: none;
    cursor: pointer;
    z-index: 3;
    transition: 0.2s;
}

.nav-button:hover {
    opacity: 0.8;
    transform: scale(0.95);
}

.nav-button-content {
    margin-right: 10px;
}

.nav-button-icon {
    cursor: pointer;
}

.menu-close {
    display: none;
}

.menu-close-icon {
    width: 22px;
}

.menu-close-content {
    color: #14131a;
    margin: 0 10px 0 0;
    font-weight: 700;
}

@media (max-width: 570px) {
    .nav-menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateX(100%);
    }
    .menu-close {
        position: fixed;
        right: 25px;
        top: 70px;
        display: flex;
        align-items: center;
        z-index: 10;
        border: none;
        background-color: #fff;
        cursor: pointer;
        transform: translateX(150%);
        transition: transform 0.4s;
        transition-delay: 0.2s;
        opacity: 0;
    }
    .is-active {
        transform: translateX(0%);
        opacity: 1;
    }
    .bg-blood {
        top: 20%;
        opacity: 0.2;
    }
    .nav-menu-item {
        margin: 2% 0;
    }
    .nav-menu-link {
        color: #14131a;
    }
    .nav-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #14131a;
        color: rgba(255, 255, 255, 0.8);
    }
    .nav {
        margin-left: auto;
    }
    .venom-head {
        top: 20%;
        width: 40%;
    }
    .button-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .movie-container {
        text-align: center;
    }
    .movie-title {
        width: 50%;
    }
    .movie-description {
        max-width: 300px;
        margin: 0 auto 6% auto;
    }
}

@media (max-width: 940px) {
    .about {
        flex-direction: column;
        padding-bottom: 5%;
    }
    .about-col {
        margin-bottom: 5%;
    }
    .creators-container {
        flex-direction: column;
    }
    .about-poster {
        margin: 0 0 4% 0;
        max-width: 350px;
        width: 100%;
    }
    .about-trailer {
        max-width: 350px;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .column-2 {
        column-count: 1;
    }
}


/* ___premier___ */

.flag {
    background: url('./../assets/img/flags.png');
    width: 16px;
    height: 11px;
    display: block;
    overflow: hidden;
    background-position: -34px -36px;
}

.flag0 {
    background-position: -34px -36px;
}